/* Import Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full Website CSS */

.navbar {
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.banner_background_one {
  background-image: url("./Assets/SVG/BannerOne.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.banner_background_two {
  background-image: url("./Assets/SVG/BannerTwo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.banner_background_three {
  background-image: url("./Assets/SVG/BannerThree.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.explore_background_one {
  background-image: url("./Assets/SVG/ExploreOne.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
}

.explore_background_two {
  background-image: url("./Assets/SVG/ExploreTwo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
}
.subscribe_bg {
  background-image: url("./Assets/SVG/factory.svg");
  box-shadow: 0 20px 100px 0 rgb(0 0 0 / 15%);
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
  z-index: 0;
}
.contact_bg {
  background-image: url("./Assets/SVG/ContactUs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.card_shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 10px;
}
.input_shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(207, 208, 209) 0px 0px 0px 1px inset;
}
.card-zoom {
  @apply relative flex items-center justify-center m-3 overflow-hidden shadow-xl rounded-2xl;
}
.card-zoom-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}
.card-zoom:hover .card-zoom-image {
  @apply scale-125;
}
.card-zoom:hover {
  @apply scale-100;
}
